.forgot-password-card {
    width: 560px;
    max-width: 95%;
}

@media(max-width:768px){
    .login-card{
        width:92%;
        padding:35px;
    }
    .logo{
        width:160px;
    }
    .login-title{
        font-size:42px;
    }
    .login-subtitle{
        font-size:18px;
    }
    .form-group label{
        font-size:20px;
    }
    .login-btn{
        font-size:20px;
    }
}

@media(max-width:480px){
    .login-card{
        padding:28px 22px;
        border-radius:24px;
    }
    .logo{
        width:140px;
    }
    .login-title{
        font-size:34px;
    }
    .login-subtitle{
        font-size:16px;
    }
    .form-group{
        margin-bottom:24px;
    }
    .form-group label{
        font-size:18px;
    }
    
    .login-btn{
        height:56px;
        font-size:18px;
    }
}